/* sintony-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/sintony-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/sintony-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/sintony-v15-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('./assets/fonts/sintony-v15-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('./assets/fonts/sintony-v15-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('./assets/fonts/sintony-v15-latin-regular.svg#Sintony') format('svg'); /* Legacy iOS */
}
  /* sintony-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/sintony-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/sintony-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/sintony-v15-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('./assets/fonts/sintony-v15-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('./assets/fonts/sintony-v15-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('./assets/fonts/sintony-v15-latin-700.svg#Sintony') format('svg'); /* Legacy iOS */
}

/* acme-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/acme-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/acme-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/acme-v25-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('./assets/fonts/acme-v25-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('./assets/fonts/acme-v25-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('./assets/fonts/acme-v25-latin-regular.svg#Acme') format('svg'); /* Legacy iOS */
}

:root {
    scroll-behavior: smooth;

    /* VARIABLES */
    --color-primary: #0e1721;
    --color-secondary: #11202d;
    --color-tertiary: #0b131a;
    --color-quaternary: rgb(227, 185, 45);
    --color-fonts: #343a40;

    --margin-vertical: 40px;
    --margin-horizontal: 100px;
}

/* GENERAL */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--color-primary);
    color: white;
    font-family: "Sintony";
    min-height: 100vh;
}

h1 {
    font-family: 'Acme';
    font-size: 50px;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.app-max-width {
    display: flex;
    width: 100%;
    margin: 0 40px;
    max-width: 1440px;
}

.hidden {
    display: none;
}

/* OVERLAY */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay-content {
    display: flex;
    width: 100%;
}

.buttons {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0 0px;
}

.buttons li {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-quaternary);
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
/* HEADER */
header {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: var(--color-secondary);
}

.header-container {
    justify-content: space-between;
}
.header-left,
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-left:hover {
    cursor: pointer;
}

.main-logo {
    height: 70px;
}

.nav-bar {
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 55px;
}

/* MAIN */
main {
    display: flex;
    flex: 1;
    justify-content: center;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PICTURE CARDS */
.img-container{
    margin: var(--margin-vertical) 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.img-card {
    display: flex;
    width: calc(25% - 20px);
    object-fit: cover;
    border-radius: 1vmin;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border: 2px solid var(--color-secondary);
    transition: all 0.4s ease;
}

.img-card:hover {
    cursor: pointer;
    transform: scale(0.97);
    border: 2px solid var(--color-quaternary);
    transform: translateY(-3px);
    filter: drop-shadow(1px 4px 4px var(--color-tertiary));
}

#btnShowLess,
#btnShowMore {
    margin: 2vh 0 var(--margin-vertical) 0;
    padding: 10px 30px;
    background-color: var(--color-quaternary);
    border: none;
}

#btnShowLess:hover,
#btnShowMore:hover {
    background-color: var(--color-tertiary);
    color: white;
} 
/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: var(--color-secondary);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.social-media-icons {
    display: flex;
    margin: 0;
    padding: 0;
}
.social-media-icons img {
    height: 20px;
    width: 20px;
}

/* MEDIA QUERIES */
.hide-mobile {
    display: block;
}

@media screen and (max-width: 768px) {
    .hide-mobile {
        display: none;
    }
}
    