/* sintony-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/sintony-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/sintony-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/sintony-v15-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('./assets/fonts/sintony-v15-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('./assets/fonts/sintony-v15-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('./assets/fonts/sintony-v15-latin-regular.svg#Sintony') format('svg'); /* Legacy iOS */
}
  /* sintony-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/sintony-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/sintony-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/sintony-v15-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('./assets/fonts/sintony-v15-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('./assets/fonts/sintony-v15-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('./assets/fonts/sintony-v15-latin-700.svg#Sintony') format('svg'); /* Legacy iOS */
}

/* acme-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/acme-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/acme-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/acme-v25-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('./assets/fonts/acme-v25-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('./assets/fonts/acme-v25-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('./assets/fonts/acme-v25-latin-regular.svg#Acme') format('svg'); /* Legacy iOS */
}

:root {
    scroll-behavior: smooth;

    /* VARIABLES */
    --color-primary: #0e1721;
    --color-secondary: #11202d;
    --color-tertiary: #f8f9fa;
    --color-fonts: #343a40;

    --margin-vertical: 40px;
    --margin-horizontal: 100px;
}

/* GENERAL */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--color-primary);
    color: white;
    font-family: "Sintony";
    min-height: 100vh;
}

h1 {
    font-family: 'Acme';
    font-size: 50px;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    color: white;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.app-max-width {
    display: flex;
    width: 100%;
    margin: 0 40px;
    max-width: 1440px;
}

.hidden {
    display: none;
}
/* HEADER */
header {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: var(--color-secondary);
}

.header-container {
    justify-content: space-between;
}
.header-left,
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-left:hover {
    cursor: pointer;
}

.main-logo {
    height: 70px;
}

.nav-bar {
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 55px;
}

/* MAIN */
main {
    display: flex;
    flex: 1;
    justify-content: center;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PICTURE CARDS */
.img-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 18px;
    margin: var(--margin-vertical) 0;
}

.img-card {
    display: flex;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    aspect-ratio: 1/1;
}
/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: var(--color-secondary);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.social-media-icons {
    display: flex;
    margin: 0;
    padding: 0;
}
.social-media-icons img {
    height: 20px;
    width: 20px;
    background-color: green;
}
/* MEDIA QUERIES */
.hide-mobile {
    display: block;
}

@media screen and (max-width: 768px) {
    .hide-mobile {
        display: none;
    }
}
    